{% extends "base.html" %}

{% block title %} 
    Staff List
{% endblock title %} 

{% block content %}
<div class="row">
    <div class='col-12'>
        <h3>Staff Directory</h3>
        {% if perms.accounts.view_userprofile %} 
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Mobile Phone</th>
                    <th>Home Phone</th>
                    <th>Email</th>
                    <th class="table-warning">Emergency Contact(s) Info</th>
                    {% if perms.accounts.change_userprofile %} 
                    <th>Last Login</th>
                    {% endif %} 
                </tr>
            </thead>
            <tbody>
            {% for x in accounts %}
            <tr>
                    <td>
                        {% if perms.accounts.change_userprofile %} 
                            <a href="{% url 'account:profile-admin-edit' id=x.id %}">{{ x.user.first_name }} {{ x.user.last_name }}</a>
                        {% else %} 
                            {{ x.user.first_name }} {{ x.user.last_name }}
                        {% endif %}
                    </td>
                    <td>{{ x.phone_mobile }}</td>
                    <td>{{ x.phone_home }}</td>             
                    <td>{{ x.user.email }}</td>
                    <td class="table-warning">
                        {% if x.emergency_contact_name_1 %}
                            {{ x.emergency_contact_name_1 }} at {{ x.emergency_contact_number_1 }} or  {{ x.emergency_contact_email_1 }}<br />
                        {% endif %}
                        {% if x.emergency_contact_name_2 %}
                            {{ x.emergency_contact_name_2 }} at {{ x.emergency_contact_number_2 }} or  {{ x.emergency_contact_email_2 }}<br />
                        {% endif %}
                    </td>
                    {% if perms.accounts.change_userprofile %} 
                    <td>{{ x.user.last_login | date:"D, n/j/y" }}<br />{{ x.user.last_login | date:"g:i a" }}</td>
                    {% endif %} 

            </tr>
            {% endfor %}
            </tbody>
        </table>

        <div style="margin-top: 15px;">
        {% if accounts.has_other_pages %}
        <ul class="pagination pagination ">
            {% if accounts.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ accounts.previous_page_number }}">Previous</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link">Previous</a></li>
            {% endif %}
            {% for i in accounts.paginator.page_range %}
            {% if accounts.number == i %}
                <li class="page-item active"><a class="page-link">{{ i }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if events.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ accounts.next_page_number }}">Next</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link">Next</a></li>
            {% endif %}
        </ul>
        {% endif %}
        Total Staff Count: {{ account_count }}
        {% if perms.accounts.change_userprofile %} 
        <p>
            <small>
                Here is a link for new users to register:<br /><a target="_blank" href="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% url 'account:register' %}">{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% url 'account:register' %}</a>
            </small>
        </p>
        <p>
            <b>Current Logged In Users:</b><br />
            {% load lib1 %} 
            {% render_logged_in_user_list %}
        </p>
        {% endif %} 

        </div>
    </div>
    {% endif %} 
</div>
{% endblock content %} 