{% extends "base.html" %}

{% block title %} 
    Products List
{% endblock title %} 

{% block content %}
<div class="row">
    <div class='col-12 col-md-6'>
        <h3>Products List</h3>
    </div>
    <div class="col-12 col-md-6" style="text-align: right;">
        {% if perms.products.add_product %} 
        <a class="btn btn-outline-success" href="{% url 'products:create' %}">Create product</a>  
        {% endif %} 
    </div>
</div>
<div class="row">
    <div class='col-12'>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Product Type</th>
                    <th>Purchased</th>
                    <th>Received</th>
                    <th>In Inventory</th>
                    <th>Active</th>
                </tr>
            </thead>
            <tbody>
            {% for x in products %}
            <tr>
                {% if x.name %}
                    <td><a href="{% url 'products:detail' slug=x.slug %}">{{ x.name }}</a></td>
                    <td>{{ x.get_type_display }}</a></td>
                    <td>{{ x.total_purchased_each }}</td>
                    <td {% if x.total_purchased_each > x.total_received_each %}class="table-warning"{% endif %}>{{ x.total_received_each }}</td>
                    <td {% if x.low_alert_level >= x.in_inventory %}class="table-danger"{% endif %}>{{ x.in_inventory }}</td>
                    <td>{{ x.active }}</td>
                    {% endif %}
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td>Totals</td>
                    <td></a></td>
                    <td>{{ purchased_total }}</td>
                    <td>{{ received_total }}</td>
                    <td> {{ inventory_total }}</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>

        <div style="margin-top: 15px;">
        {% if products.has_other_pages %}
        <ul class="pagination pagination ">
            {% if products.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link">Previous</a></li>
            {% endif %}
            {% for i in products.paginator.page_range %}
            {% if products.number == i %}
                <li class="page-item active"><a class="page-link">{{ i }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if products.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">Next</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link">Next</a></li>
            {% endif %}
        </ul>
        {% endif %}
        Total Product Count: {{ product_count }}
        </div>
    </div>
</div>
{% endblock content %} 