{% extends "base.html" %}

{% block title %} 
    Purchase Order List
{% endblock title %} 

{% block content %}
<div class="row">
    <div class='col-12 col-md-6'>
        <h3>Purchase Order List</h3>
    </div>
    <div class="col-12 col-md-6" style="text-align: right;">
        {% if perms.products.add_purchaseorder %} 
        <a class="btn btn-outline-success" href="{% url 'products:po-create' %}">Create purchase order</a>  
        {% endif %} 
    </div>
</div>
<div class="row">
    <div class='col-12'>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>PO Number</th>
                    <th>Date</th>
                    <th>Supplier</th>
                    <th>Purchaser</th>
                </tr>
            </thead>
            <tbody>
            {% for x in pos %}
            <tr>
                    <td><a href="{% url 'products:po-detail' id=x.id %}">{{ x.id }}</a></td>
                    <td>{{ x.date }}</td>
                    <td>{{ x.get_supplier_display }}</td>
                    <td>{{ x.user.first_name }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <div style="margin-top: 15px;">
        {% if pos.has_other_pages %}
        <ul class="pagination pagination ">
            {% if pos.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ pos.previous_page_number }}">Previous</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link">Previous</a></li>
            {% endif %}
            {% for i in pos.paginator.page_range %}
            {% if pos.number == i %}
                <li class="page-item active"><a class="page-link">{{ i }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if pos.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ pos.next_page_number }}">Next</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link">Next</a></li>
            {% endif %}
        </ul>
        {% endif %}
        Total Purchases Count: {{ po_count }}
        </div>
    </div>
</div>
{% endblock content %} 