<div class="row">
    <div class="col-12 col-md-10">
        <h2>{{object.title}}
            {% if object.get_edit_url %}
            <small>
                <a class="btn btn-outline-secondary" href="{% url 'events:list' %}">Back</a>
                {% if perms.events.change_event %}
                    {% if object.status == 'c' %}
                        <a class="btn btn-outline-secondary" hx-trigger='click'>Royalty Sent</a>
                    {% elif object.status == 'p' %}
                        <a class="btn btn-outline-primary" href="{{ object.get_edit_url }}">Edit</a>
                    {% endif %} 
                {% endif %} 
            </small>
            {% endif %}
        </h2> 
        <p><span class="lead">{{ object.get_length_display }} hr(s) {{ object.get_type_display }} on <b>{{ object.date }}</b> at {{ object.time }} </span><br />
            {% if object.created_by %}Created by: {{ object.created_by.first_name }} {{ object.created_by.last_name }}<br />{% endif %}
            Last updated on : {{ object.updated }}{% if object.updated_by %} by {{ object.updated_by.first_name }} {{ object.updated_by.last_name }} {% endif %} <br /></p>
        
        <p>Effective Tax Rate: {{ object.tax_rate_percentage }}%<br />
        Royalty Report ID: {{ object.royalty_report.id }}<br />
        Event ID: {{ object.id }}</p>
    </div>


</div>

<div class="row">
    <div class="col-12 col-md-6">
        <h3>Event Customer(s)</h3>
            <div id="customer-list">
                {% for customer in object.get_eventcustomer_children %}
                    {% include 'events/partials/customer-inline.html' with object=customer %}
                {% endfor %} 
            </div>
            {% if object.status == 'p' %}
                {% if perms.events.add_eventcustomer %}
                    {% if new_customer_url %}
                        <button class="btn btn-outline-success" hx-get="{{ new_customer_url }}" hx-trigger="click" hx-target="#customer-list" hx-swap="beforeend">Add Customer(s)</button>
                    {% endif %} 
                {% endif %} 
            {% endif %}
            <p></p>
            <h3>Event Images</h3>
            <div id="image-list">
                {% for image in object.get_eventimage_children %}
                    {% include 'events/partials/image-inline.html' with object=image %}
                {% endfor %} 
            </div>
            {% if object.status == 'p' %}
                {% if perms.events.add_eventimages %}
                    {% if new_image_url %}
                        <button class="btn btn-outline-success" hx-get="{{ new_image_url }}" hx-trigger="click" hx-target="#image-list" hx-swap="beforeend">Add Image</button>
                    {% endif %} 
                {% endif %} 
            {% endif %} 

    </div>
    <div class='col-6 col-md-6'>
        <h3>Event Staff</h3>
            <div id="staff-list">
                {% for staff in object.get_eventstaff_children %}
                    {% include 'events/partials/staff-inline.html' with object=staff %}
                {% endfor %} 
            </div>
            {% if object.payroll_status == 'p' %}
                {% if perms.events.add_eventstaff %}
                    {% if new_staff_url %}
                        <button class="btn btn-outline-success" hx-get="{{ new_staff_url }}" hx-trigger="click" hx-target="#staff-list" hx-swap="beforeend">Add Staff</button>
                    {% endif %} 
                {% endif %} 
            {% endif %} 
            <p></p>
            <h3>Event Tips</h3>
            <div id="tip-list">
                {% for tip in object.get_eventtip_children %}
                    {% include 'events/partials/tip-inline.html' with object=tip %}
                {% endfor %} 
            </div>
            {% if object.payroll_status == 'p' %}
                {% if perms.events.add_eventtip %}
                    {% if new_tip_url %}
                        <button class="btn btn-outline-success" hx-get="{{ new_tip_url }}" hx-trigger="click" hx-target="#tip-list" hx-swap="beforeend">Add Tip</button>
                    {% endif %} 
                {% endif %} 
            {% endif %} 
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-4" style="margin-top: 20px;">
        {% if perms.events.delete_event %}
            {% if object.status == 'p' %}
                <p><a class="btn btn-outline-danger" href="{{ object.get_delete_url }}" hx-post="{{ object.get_delete_url }}" hx-confirm='THIS CANNOT BE UNDONE: Are you sure you want to delete {{ object.name }}?' hx-trigger="click">Delete Event</a></p> 
           {% endif %}
        {% endif %}
    </div>
</div>