<div id="tip-{{object.id}}">
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <td><b>${{ object.tip_amount }} tip before fees</b></td>
                <td style="text-align: right;">
                    {% if perms.events.change_eventtip %} 
                        {% if object.status == 'p' %}
                            <button class="btn btn-sm btn-outline-primary" hx-trigger='click' hx-get='{{ object.get_htmx_edit_url }}' hx-target='#tip-{{object.id}}'>Edit</button>
                        {% endif %}    
                    {% endif %}
                    {% if perms.events.delete_eventtip %}
                        {% if object.status == 'p' %}
                            <a class="btn btn-sm btn-outline-danger" hx-confirm='Remove {{object.tip_amount }} tip from event?' hx-post='{{ object.get_delete_url }}' hx-trigger='click' href="{{ object.get_delete_url }}" hx-target='#tip-{{object.id}}' hx-swap='outerHTML'>Remove</a>
                        {% elif  object.status == 'a' %} 
                            <a class="btn btn-sm btn-outline-warning" hx-trigger='click'>Approved</a>
                        {% elif object.status == 'c' %}
                        <a class="btn btn-sm btn-outline-secondary" hx-trigger='click'>Payroll Sent</a>
                        {% endif %}
                    {% endif %} 
                </td>
            </tr>
        </thead>
        <tbody class="table-striped">
            <tr>
                <td colspan="2">
                    - Split {% widthratio object.stage_split 1 100 as width %} {{ width }}% / {% widthratio object.floor_split 1 100 as width %} {{ width }}% (Stage/Floor) *<br />
                </td>
            </tr>
        </tbody>
    </table>
</div>
