<div class="row">
    <div class="col-12 col-md-12">
        <h3>{{object.name}}
            {% if object.get_edit_url %}
            <small>
                {% if perms.articles.change_article %}
                <a class="btn btn-outline-primary" href="{{ object.get_edit_url }}">Edit</a> 
                {% endif %} 
            </small>
            {% endif %}
        </h3> 
        <p><small>By: {{ object.user.first_name }} {{ object.user.last_name }} on {{ object.publish }} views: {{ object.page_views }}</small></p>
        
        <p>{{ object.content|safe|linebreaks }}</p>
        {% if perms.articles.add_article %} 
        <small>Seen by: {{ object.seen_by }}</small>
        {% endif %}
    </div>
    <div id="comments" style="margin: 10px;">
        <div id="comment-list">
            <hr />  
            <h6><u>Comments:</u></h6>
            {% for comment in object.get_comment_children %}
                {% include 'articles/partials/comment-inline.html' with object=comment %}
            {% endfor %} 
        </div>
            {% if new_comment_url %}
                <button class="btn btn-outline-success" hx-get="{{ new_comment_url }}" hx-trigger="click" hx-target="#comment-list" hx-swap="beforeend">Add Comment</button>
            {% endif %} 
    </div>
    </div>
 
<div class="row">
    <div class="col-12 col-md-4" style="margin-top: 20px;">
        <a class="btn btn-outline-secondary" href="/">Back</a>
        {% if perms.articles.delete_article %}
           <a class="btn btn-outline-danger" href="{{ object.get_delete_url }}" hx-post="{{ object.get_delete_url }}" hx-confirm='THIS CANNOT BE UNDONE: Are you sure you want to delete {{ object.name }}?' hx-trigger="click">Delete Article</a>
        {% endif %}
    </div>
</div>