{% load humanize %}
<div class="row">
    <div class="col-12 col-7-auto">
        <h2>Payroll Report Pay Date: {{object.pay_date}}
            {% if object.get_edit_url %}
            <small class=".d-print-none">
                <a class="btn btn-outline-secondary d-print-none" href="{% url 'payroll:list' %}">Back</a>
                {% if perms.payroll.change_report %}
                <a class="btn btn-outline-primary d-print-none" href="{{ object.get_edit_url }}">Edit</a>
                {% endif %} 
            </small>
            {% endif %}
        </h2> 
        <p>
            <span class="lead">
                Pay Period: {{ object.start_date }} - {{ object.end_date }}
            </span><br />
            Last updated on : {{ object.updated }}<br />
            <span class="d-print-none">Payroll Gross Amount: ${{ total_total_pay|floatformat:'2' }}<br />
            Total Staff Members in Pay Report: {{ object.staff_count }}</span>

        </p>
        
        <p class="d-print-none">
            {% if perms.payroll.change_report %}
                {% if object.status == 'p' %}
                    <a class="btn btn-outline-success" href="{% url 'payroll:hx-report-complete' id=object.id %}">Mark Complete</a>
                {% elif object.status == 'c' %} 
                    <a class="btn btn-outline-danger" href="{% url 'payroll:hx-report-pending' id=object.id %}">Revert to Pending</a>
                {% endif %}
            {% endif %} 
        </p>
    </div>
    <div class="col-12 col-md-5 d-print-none">
        {% if events_without_workers > 0 %}
        <table class="table table-sm table-warning">
            <thead>
                <th>Events in Pay Period w/o Staffing</th>
            </thead>
            <tbody>
                {% for event in events %}
                    {% if event.worker_count == 0 %}
                    <tr>
                        <td>
                            <a href="{% url 'events:detail' slug=event.slug %}" target="_blank">{{ event.name }}</a> on {{ event.date}} at {{ event.time }}</li>
                        </td>
                    </tr>
                    {% endif %} 
                {% endfor %} 
            </tbody>
        </table>
        {% endif %}
    </div>

</div>

<div class="row d-print-none">
    <div class="col-12 col-md-12">
        <h3 class="d-print-none">Time Entries:</h3>
        <div id="event-list" class="d-print-none">
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>Staff / Role</th>
                        <th>Event / Date</th>
                        <th>Length</th>
                        <th>Hours</th>
                        <th style="text-align: right;">Rate</th>
                        <th style="text-align: right;"><i>Subtotal</i></th>
                        <th style="text-align: right;">Prepaint</th>
                        <th style="text-align: right;">Tips</th>
                        <th style="text-align: right;">Commissions</th>
                        <th class="table-success" style="text-align: right;">Total</th>
                    </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    {% for staff in event.get_eventstaff_children %}
                        <tr>
                            <td><b>{{ staff.user.first_name }} {{ staff.user.last_name }}</b><br />as {{ staff.get_role_display }}</td>
                            <td><a href="{% url 'events:detail' slug=staff.event.slug %}" target="_blank">{{ staff.event.name }}</a><br />
                                 on {{ staff.event.date }} at {{ staff.event.time }}</td>
                            <td>{{ staff.event.length }}</td>
                            <td {% if staff.typical_hours < staff.hours %} class="table-warning"{% endif %}>
                                {% if staff.rate %}
                                    {{ staff.hours|floatformat:'2' }}
                                {% endif %}
                            </td>
                            <td style="text-align: right;">
                                {% if staff.rate %}
                                    ${{ staff.rate|floatformat:'2' }}
                                {% endif %} 
                            </td>
                            <td style="text-align: right;">{% if staff.hourly_pay %} 
                                <i>${{ staff.hourly_pay|floatformat:'2' }}</i>
                                {% endif %} 
                            </td>
                            <td style="text-align: right;">
                                {% if staff.prepaint_pay %}
                                    ${{ staff.prepaint_pay|floatformat:'2' }}
                                {% endif %}
                            </td>
                            <td style="text-align: right;">
                                {% if staff.tip_pay %}
                                    ${{ staff.tip_pay|floatformat:'2' }}
                                {% endif %}
                            </td>
                            <td style="text-align: right;">
                                {% if staff.commission_pay %}
                                    ${{ staff.commission_pay|floatformat:'2' }}
                                {% endif %}
                            </td>
                            <td class="table-success" style="text-align: right;">
                                {% if staff.total_pay %} 
                                    <b>${{ staff.total_pay|floatformat:'2' }}</b>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %} 
                {% endfor %} 
                </tbody>
            </table>
        </div>
        <h3>Summary:</h3>
        <div id="summary" class="col-12 col-md-10">
            <table class="table table-sm table-striped">
                <thead>
                    <th></th>
                    <th style="text-align: right;">Stage</th>
                    <th style="text-align: right;">Floor</th>
                    <th style="text-align: right;">Team</th>
                    <th style="text-align: right;">Totals</th>
                </thead>
                <tbody>
                    <tr>
                        <th><i>Hours</i></th>
                        <td style="text-align: right;"><i>{{ total_stage_hours|floatformat:'2' }}</i></td>
                        <td style="text-align: right;"><i>{{ total_floor_hours|floatformat:'2' }}</i></td>
                        <td style="text-align: right;"><i>{{ total_team_hours|floatformat:'2' }}</i></td>
                        <th style="text-align: right;"><i>{{ total_total_hours|floatformat:'2' }}</i></th>
                    </tr>
                    <tr>
                        <th>Hourly Pay</th>
                        <td style="text-align: right;">${{ total_stage_hourly_pay|floatformat:'2' }}</td>
                        <td style="text-align: right;">${{ total_floor_hourly_pay|floatformat:'2' }}</td>
                        <td style="text-align: right;">${{ total_team_hourly_pay|floatformat:'2' }}</td>
                        <th style="text-align: right;">${{ total_total_hourly_pay|floatformat:'2' }}</th>
                    </tr>
                    <tr>
                        <th>Tips</th>
                        <td style="text-align: right;">${{ total_stage_tip_pay|floatformat:'2' }}</td>
                        <td style="text-align: right;">${{ total_floor_tip_pay|floatformat:'2' }}</td>
                        <td style="text-align: right;">${{ total_team_tip_pay|floatformat:'2' }}</td>
                        <th style="text-align: right;">${{ total_total_tip_pay|floatformat:'2' }}</th>
                    </tr>
                    <tr>
                        <th>Prepaints & Commissions</th>
                        <td style="text-align: right;">${{ total_stage_commission_pay|floatformat:'2' }}</td>
                        <td style="text-align: right;">${{ total_floor_commission_pay|floatformat:'2' }}</td>
                        <td style="text-align: right;">${{ total_team_commission_pay|floatformat:'2' }}</td>
                        <th style="text-align: right;">${{ total_total_commission_pay|floatformat:'2' }}</th>
                    </tr>      
                </tbody>
                <tfoot>
                    <tr>
                        <th>Subtotals</th>
                        <th style="text-align: right;">${{ total_stage_pay|floatformat:'2' }}</th>
                        <th style="text-align: right;">${{ total_floor_pay|floatformat:'2' }}</th>
                        <th style="text-align: right;">${{ total_team_pay|floatformat:'2' }}</th>
                        <th style="text-align: right;">${{ total_total_pay|floatformat:'2' }}</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    </div>
    <div class="row">    
        <div id="staff-summaries" class="col-12 col-md-12">
            <div hx-get="{{ hx_url }}" hx-trigger='load'>
                <div class="htmx-indicator">Loading...</div>
            </div>
        </div>
    </div>

</div>

<div class="row d-print-none">
    <div class="col-12 col-md-4" style="margin-top: 20px;">
        {% if perms.royaltyreports.delete_report %}
            {% if object.status == 'p' %}
                <p><a class="btn btn-outline-danger" href="{{ object.get_delete_url }}" hx-post="{{ object.get_delete_url }}" hx-confirm='THIS CANNOT BE UNDONE: Are you sure you want to delete report starting on {{ object.start_date }}?' hx-trigger="click">Delete Report</a></p> 
           {% endif %}
        {% endif %}
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

<script id="rendered-js">
function copyToClipboard(element) {
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val($(element).text()).select();
  document.execCommand("copy");
  $temp.remove();
}
</script>