{% for staff_member in distinct_users %} 
{% if staff_member.name == 'Rachel Dasal' %}
    <div class="col-12 col-md-12 d-print-none">
{% elif staff_member.name == 'Dustin Dasal' %} 
    <div class="col-12 col-md-12 d-print-none">
{% else %} 
    <div class="col-12 col-md-12">
{% endif %}
        <p>&MediumSpace;</p>
        <h4>{{ staff_member.name }}: ${{staff_member.total_total_pay|floatformat:'2'}}</h4>
        <table class="table table-sm table-striped">
            <thead>
                <th></th>
                <th>Stage</th>
                <th>Floor</th>
                <th>Team</th>
                <th>Totals</th>
            </thead>
            <tbody>
                <tr>
                    <th><i>Hours</i></th>
                    <td><i>{{ staff_member.total_stage_hours|floatformat:'2' }}</i></td>
                    <td><i>{{ staff_member.total_floor_hours|floatformat:'2' }}</i></td>
                    <td><i>{{ staff_member.total_team_hours|floatformat:'2' }}</i></td>
                    <th><i>{{ staff_member.total_total_hours|floatformat:'2' }}</i></th>
                </tr>
                <tr>
                    <th>Hourly Pay</th>
                    <td>${{ staff_member.total_stage_hourly_pay|floatformat:'2' }}</td>
                    <td>${{ staff_member.total_floor_hourly_pay|floatformat:'2' }}</td>
                    <td>${{ staff_member.total_team_hourly_pay|floatformat:'2' }}</td>
                    <th>${{ staff_member.total_total_hourly_pay|floatformat:'2' }}</th>
                </tr>
                <tr>
                    <th>Tips</th>
                    <td>${{ staff_member.total_stage_tip_pay|floatformat:'2' }}</td>
                    <td>${{ staff_member.total_floor_tip_pay|floatformat:'2' }}</td>
                    <td>${{ staff_member.total_team_tip_pay|floatformat:'2' }}</td>
                    <th>${{ staff_member.total_total_tip_pay|floatformat:'2' }}</th>
                </tr>
                <tr>
                    <th>Prepaints & Commissions</th>
                    <td>${{ staff_member.total_stage_commission_pay|floatformat:'2' }}</td>
                    <td>${{ staff_member.total_floor_commission_pay|floatformat:'2' }}</td>
                    <td>${{ staff_member.total_team_commission_pay|floatformat:'2' }}</td>
                    <th>${{ staff_member.total_total_commission_pay|floatformat:'2' }}</th>
                </tr>
            </tbody>               
            <tfoot>
                <tr>
                    <th>Subtotals</th>
                    <th>${{ staff_member.total_stage_pay|floatformat:'2' }}</th>
                    <th>${{ staff_member.total_floor_pay|floatformat:'2' }}</th>
                    <th>${{ staff_member.total_team_pay|floatformat:'2' }}</th>
                    <th>${{ staff_member.total_total_pay|floatformat:'2' }}</th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endfor %} 