{% extends "base.html" %}

{% block title %} 
{% if object.title %}
    {{ object.title }}
{% else %}
    Create Article
{% endif %} 
{% endblock title %} 

{% block content %}

<div class="row">
    <div class='col-md-8 mx-auto'>
        {% if not object.slug %}
            <h2>Create News Article</h2>
        {% else %}
            <h2>News Article Details
                <small>
                    {% if perms.articles.view_article %}
                    <a class="btn btn-outline-secondary" href="{{ object.get_absolute_url }}">Return</a>
                    {% endif %} 
                </small>    
            </h2>
        {% endif %}

    {% include 'articles/partials/forms.html' %}
    </div>
</div>

{% endblock content %} 