{% extends "base.html" %}

{% block title %} 
    {{ object.title }}
{% endblock title %} 

{% block content %}
<div class="row">
    <div class="col-12 col-md-8">
        <h3>About Fun Art Studios, LLC</h3>

        <p>Fun Art Studios, LLC dba Painting with a Twist (Springfield) is the 239th studio in the Painting with a Twist system. Originally launched by Tom and Janine Swisky in April of 2016, Dustin and Rachel Dasal took over ownership and operations of Studio 239 four years later on March 31, 2020.</p>
        <p>Due to the pandemic of 2020, doors were forced closed days before the the transfer of ownership.  This closure provided an opportunity to renovate the facility to match the recently re-branded logo and other marketing assets.  On May 5th, our doors were re-opened with our inaugral painting of 'Cinco de Mayo' with a very small, and socially distanced, crowd.</p>
        <p>Dustin and Rachel found Painting with a Twist in November of 2019 on a date night outing.  It was during that event they learned of the business opportunity, and just a couple months later they reached an agreement to acquire the assets of Studio 239. With no prior artistic endeavors, and a very limited background in business ownership, they jumped in with both feet during a time many other businesses were begining to struggle or fail.</p>
        <p>We have held over {{ event_count }} events, since that 5th of May, 2020, and the outlook continues to look bright.</p>
        
    </div>
</div>
{% endblock %} 