<div class="row">
    <div class="col-12 col-md-8">
        <h3>{{object.name}}
            {% if object.get_edit_url %}
            <small>
                <a class="btn btn-outline-secondary" href="{% url 'products:list' %}">Back</a>
                {% if perms.products.change_product %}
                <a class="btn btn-outline-primary" href="{{ object.get_edit_url }}">Edit</a>
                {% endif %} 
            </small>
            {% endif %}
        </h3> 
        <p><span class="lead">{{ object.get_type_display }}</span><br />
            Last updated on : {{ object.updated }}<br /></p>
        
        <p>Low Alert Level: {{ object.low_alert_level }}</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>PO Number</th>
                    <th>Date</th>
                    <th>Supplier</th>
                    <th>Received of Purchased</th>
                </tr>
            </thead> 
            <tbody>
                {% for item in object.get_pi_list %}
                <tr>
                    <td><a href="{% url 'products:po-detail' id=item.purchase_order.id %}">{{ item.purchase_order.id }}</a></td>
                    <td>{{ item.purchase_order.date }}</td>
                    <td>{{ item.purchase_order.get_supplier_display }}</td>
                    <td>
                        {% if item.received_quantity != item.purchased_quantity %}
                            <mark>{{ item.received_quantity}} of {{ item.purchased_quantity }}</mark>
                        {% else %}
                            {{ item.received_quantity}} of {{ item.purchased_quantity }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


</div>


<div class="row">
    <div class="col-12 col-md-4" style="margin-top: 20px;">
        {% if perms.products.delete_product %}
           <p><a class="btn btn-outline-danger" href="{{ object.get_delete_url }}" hx-post="{{ object.get_delete_url }}" hx-confirm='THIS CANNOT BE UNDONE: Are you sure you want to delete {{ object.name }}?' hx-trigger="click">Delete Product</a></p> 
        {% endif %}
    </div>
</div>